<div class = "first_view">
    <div class = "container">
    Potepan Shareで<br>
    まだ体験したことのない<br>
    旅をしよう
    <%= search_form_for @q, url: rooms_search_path do |f| %>
        <div class = "serch-wrapper">
            <div class="search-content">
                <%= f.label :name_or_address_cont, 'キーワード検索', class: 'label' %>
                <%= f.search_field :name_or_address_cont, placeholder: 'キーワードを入力', class:"search-form-control" %>
            </div>
            <div class="search-content">
                <%= f.submit 'この条件で検索する', class:"search-btn" %>
            </div>
        </div>
    <% end %>
    </div>
</div>