<% if user_signed_in? && @user == current_user %>
    <h1>マイページ</h1>
<% else %>
    <h2>ユーザーページ</h2>
 <% end %>
 
<p>アイコン画像: </p>
<p>名前: <%= @current_user.name %></p>
<p>メールアドレス: <%= @current_user.email %></p>
<p>紹介文: <%= @current_user.introduction %></p>
