.header{
    background-color: #1c1d3b;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header a{
    color :white;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 40px;
    margin: 5px;
}

.login_signup{
    display: flex;
    margin: 0 0 0 auto;
}

li{
    list-style: none;
    margin: 0 7px;
}

footer{
    height: 200px;
    background-color: #1c1d3b;
    color: white;
    padding: 60px 30px;
}

.footer_logo{
    font-size: 40px;
}
.copyright{
    font-size: 5px;
}