.reservation-index-title{
    width: 100%;
}

.reservation-index-title th{
    text-align: center;
    border-bottom: solid 2px gray;
    color: #555;
}

.reservation-room-image-title{
    width: 200px;
}
.reservation-room-image{
    width: 200px;
    padding: 3px 7px;
}

.reservation-index td{
    text-align: left;
    padding: 3px 7px;
    border-bottom: solid 1px gray;
    text-align: center;
}