.top-page{
    height: 1600px;
}
.first_view{
    height: 800px;
    font-size: 80px;
    color: white;
    background-image: image-url('cover-lg.jpeg')
}
.container{
    text-align: center;
    padding: 50px 0;
}
.to_index{
    color: black;
    text-align: center;
    font-size: 20px;
}
.to_index a{
    color: white;
}

a{
    text-decoration: none;
}

.search-box{
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
    width: 700px;
    height: 300px;
    margin: 20px auto;
    opacity: 0.7;
}
.search-content{
    margin-bottom: 20px;
}

.search-form-control{
    font-size: 20px;
    width: 80%;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
}

.search-btn{
    font-size: 20px;
    background-color: orange;
    border-radius: 3px;
    text-align: center;
    width: 80%;
    height: 60px;
}

.recommend-area{
    list-style: none;
    display: flex;
    margin: 80px 20px;
}

.search-content{
    margin: 0 auto;
}

.area-container h4{
    color: black;
    font-size: 40px;
    border-bottom: 3px solid orange;
    margin-left: 20px;
}

.areas{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.areas p{
    font-size: 35px;
    color: black;
    margin: 0;
    text-align: center;
}

.partial-search-wrapper{
    background-color: #DCDCDC;
    padding: 30px 100px;
    display: flex;
    font-size: 18px;
    
}

.partial-search-content{
    margin: 20px;
}

.search-container h3{
    margin: 20px;
}

.search-results h4{
    margin: 20px;
}

.room-container{
    display: flex;
    flex-wrap: wrap;
}

.room-list{
    flex-wrap: wrap;
    grid-gap: 32px;
    gap: 32px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 20px;
}

.room-list li{
    display: block;
}

.room-image{
    margin: 5px;
}

.room-name{
    font-size: 30px;
}
.price{
    font-size: 40px;
    font-weight: bold;
    color: #FF8856;
}